<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
  Hi, I'm a software engineer enthusiast from Poland. This is my first application in Rails. I come from an algorithmic trail and am just only learning web development.
</p>