<%= render 'shared/error_messages', object: @device %>

<div class="field">
	<%= f.text_area :name, placeholder: "Name" %>
	<%= f.text_area :description, placeholder: "Description" %>
	<%= f.file_field :file, :webkitdirectory => "", class: "hidden-input" %>
	<button id="directory-upload" class="btn btn-large">Device summary</button>
</div>
