<aside class="span2">
	<section>
		<%= gravatar_for @user %>
		<h1>
			<%= link_to(@user.name, user_path(@user)) %>
		</h1>
	</section>
	<%= link_to("Devices list", user_devices_path(@user)) %>
	<% if @devices and @devices.any? %>
		<%= render @devices %>
	<% end %>
</aside>