<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'user_info' %>
  <div class="span8">
    <% if @user.movies.any? %>
      <h3>Movies list (<%= @user.movies.count %>)</h3>
      <%= render 'movies/movies', movies: @movies %>
    <% end %>
  </div>
</div>